In [1]:
import pandas as pd
from io import StringIO
import random as rnd

In [2]:

df_cols = [f'x{i:02}' for i in range(17)]
df_cols.append('y')
print(len(df_cols))

print(df_cols)

18
['x00', 'x01', 'x02', 'x03', 'x04', 'x05', 'x06', 'x07', 'x08', 'x09', 'x10', 'x11', 'x12', 'x13', 'x14', 'x15', 'x16', 'y']

In [3]:
str_cols = {}
str_cols["x00"] = [f'my_cat{i:02}' for i in range(3)]
str_cols["x01"] = [f'this_cat{i:02}' for i in range(4)]
str_cols["x02"] = [f'some_cat{i:02}' for i in range(5)]
str_cols

{'x00': ['my_cat00', 'my_cat01', 'my_cat02'],
 'x01': ['this_cat00', 'this_cat01', 'this_cat02', 'this_cat03'],
 'x02': ['some_cat00', 'some_cat01', 'some_cat02', 'some_cat03', 'some_cat04']}

In [4]:
data_stats_json = '{"x03":{"count":25870.0,"min":0.0,"max":45.0},"x04":{"count":25870.0,"min":0.005,"max":0.02},"x05":{"count":25870.0,"min":0.005,"max":0.025},"x06":{"count":25870.0,"min":0.00018,"max":0.13337},"x07":{"count":25870.0,"min":0.0025,"max":0.015},"x08":{"count":25870.0,"min":2704.0,"max":16981.0},"x09":{"count":25870.0,"min":324.0,"max":1539.0},"x10":{"count":25870.0,"min":0.56,"max":0.82},"x11":{"count":25870.0,"min":2790.0,"max":7855.0},"x12":{"count":25870.0,"min":286.0,"max":1000.0},"x13":{"count":25870.0,"min":500.0,"max":1300.0},"x14":{"count":25870.0,"min":0.0,"max":1290.28},"x15":{"count":25870.0,"min":0.0,"max":0.992523077},"x16":{"count":25870.0,"min":0.0,"max":0.02},"y":{"count":25870.0,"min":11602.1724,"max":1690000.0}}'
data_stats = pd.read_json(StringIO(data_stats_json))
data_stats

,x03,x04,x05,x06,x07,x08,x09,x10,x11,x12,x13,x14,x15,x16,y
count,25870,25870.000,25870.000,25870.00000,25870.0000,25870,25870,25870.00,25870,25870,25870,25870.00,25870.000000,25870.00,2.587000e+04
min,0,0.005,0.005,0.00018,0.0025,2704,324,0.56,2790,286,500,0.00,0.000000,0.00,1.160217e+04
max,45,0.020,0.025,0.13337,0.0150,16981,1539,0.82,7855,1000,1300,1290.28,0.992523,0.02,1.690000e+06

In [5]:

dflen = 25870

df1 = pd.DataFrame()

In [15]:
for c in str_cols:
    df1[c]= pd.Series(rnd.choice(str_cols[c]) for i in range(dflen))
    
for c in data_stats:
    df1[c]= pd.Series(rnd.uniform(data_stats.loc['min', c], data_stats.loc['max', c]) for i in range(dflen))
    
df1

,x00,x01,x02,x03,x04,x05,x06,x07,x08,x09,x10,x11,x12,x13,x14,x15,x16,y
0,my_cat00,this_cat03,some_cat04,20.948281,0.012331,0.011476,0.001239,0.013467,10288.197149,1113.481277,0.799462,4626.625447,736.340271,1021.278427,286.371663,0.982756,0.001105,1.507798e+06
1,my_cat00,this_cat02,some_cat03,11.955513,0.017565,0.014508,0.021509,0.006818,5456.611802,1081.676945,0.724611,6840.384691,491.223601,1265.223306,996.819706,0.092426,0.013573,1.113617e+06
2,my_cat01,this_cat02,some_cat04,10.279769,0.016212,0.019409,0.085603,0.005434,9308.116872,1310.082458,0.734301,4064.770968,781.205622,893.952668,771.881994,0.873679,0.002182,6.773780e+05
3,my_cat02,this_cat00,some_cat02,0.568379,0.007945,0.013523,0.099274,0.004825,3707.733772,1264.078862,0.653442,7311.519405,432.415933,810.271082,635.020470,0.221509,0.017887,7.038304e+05
4,my_cat01,this_cat02,some_cat03,39.626923,0.019319,0.022167,0.022337,0.014329,6523.200452,668.694596,0.661269,3221.448708,588.755830,859.430677,593.853303,0.051898,0.008883,6.561867e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25865,my_cat01,this_cat03,some_cat02,13.448683,0.013120,0.024154,0.017419,0.005865,6693.676217,494.814344,0.687559,4790.149016,718.144907,509.698602,11.492450,0.540857,0.018432,2.564784e+05
25866,my_cat00,this_cat02,some_cat02,10.360348,0.017393,0.016258,0.052881,0.009682,15243.220022,1332.796885,0.813673,5410.533956,521.897722,774.794291,1063.265353,0.988480,0.011219,9.716252e+05
25867,my_cat02,this_cat00,some_cat03,34.103561,0.009515,0.015180,0.069832,0.002808,9559.943121,1355.281489,0.640836,7093.743282,608.559366,989.237057,1039.666907,0.736153,0.009376,5.517575e+05
25868,my_cat02,this_cat00,some_cat00,31.124105,0.016639,0.006442,0.036834,0.004358,3449.122068,1322.550801,0.656925,3580.348856,876.039551,1237.779747,589.916552,0.949121,0.002953,4.802438e+05
25869,my_cat01,this_cat01,some_cat01,24.230288,0.019697,0.023336,0.118069,0.005083,16299.440053,1180.401351,0.807989,4212.060109,397.908832,898.918854,277.703337,0.516469,0.008729,1.218134e+06

In [16]:
df1.to_csv('dataset+target.csv')

In [17]:
df1.drop(columns=['y']).to_csv('dataset.csv')

In [18]:
import sqlite3 as sq
table_name = "dataset" # table and file name

conn = sq.connect('{}.sqlite'.format(table_name)) # creates file
df1.to_sql(table_name, conn, if_exists='replace', index=False) # writes to file
conn.close()

# Creating Dummy data - naca0012_13SEP2023

In [11]:
moment_stats = '{"x1":{"count":516720.0,"min":-20.0,"max":0.0},"x2":{"count":516720.0,"min":-0.1,"max":0.8},"x3":{"count":516720.0,"min":0.0,"max":0.9},"x4":{"count":516720.0,"min":-15.0,"max":15.0},"x5":{"count":516720.0,"min":0.0,"max":1.0},"x6":{"count":516720.0,"min":-30.0,"max":30.0},"y":{"count":516720.0,"min":-0.492911,"max":0.488743}}'
moment_stats_df = pd.read_json(StringIO(moment_stats))
moment_stats_df

           x1        x2        x3      x4      x5      x6              y
count  516720  516720.0  516720.0  516720  516720  516720  516720.000000
min       -20      -0.1       0.0     -15       0     -30      -0.492911
max         0       0.8       0.9      15       1      30       0.488743

In [12]:
df2 = pd.DataFrame()
dflen2 = 25870
for c in moment_stats_df:
    df2[c]= pd.Series(rnd.uniform(moment_stats_df.loc['min', c], moment_stats_df.loc['max', c]) for i in range(dflen2))

In [13]:
df2

              x1        x2        x3         x4        x5         x6         y
0     -12.695976  0.147370  0.309009  -5.233161  0.345113   5.228867 -0.429376
1     -16.147376  0.300967  0.471583   6.720054  0.705020 -14.687409 -0.314584
2      -0.865343  0.734130  0.304971   8.640090  0.670183 -20.413924  0.382242
3      -4.405071  0.391843  0.005071   1.654175  0.714486  -9.144956 -0.404334
4     -10.913121  0.515064  0.319447  11.881939  0.831106  -5.670779  0.399376
...          ...       ...       ...        ...       ...        ...       ...
25865  -1.578696  0.706850  0.325209  -5.989900  0.400261  26.099671 -0.418631
25866 -18.772871  0.477437  0.270533 -14.195229  0.450621 -28.259757 -0.025752
25867  -6.271450  0.697593  0.023051  13.095330  0.980093   7.443911 -0.452177
25868 -12.200393 -0.014950  0.125816   2.174988  0.394013  -8.706751  0.000351
25869 -10.090732  0.208898  0.434575   2.368625  0.411563  10.178774 -0.421949

[25870 rows x 7 columns]

In [14]:
table_name = "dataset2" # table and file name

conn = sq.connect('{}.sqlite'.format(table_name)) # creates file
df2.to_sql('dataset2', conn, if_exists='replace', index=False) # writes to file
conn.close()